/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos del Header y Navegación */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: right;

}
.contenedor-imagen {
    display: grid;
    place-items: center; /* Centra tanto horizontal como verticalmente */
    height: 200%; /* Puedes ajustar esta altura */
    width: 100%;
}

img {
    max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */
    height: auto;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: 16px;
}

nav ul li a:hover {
    background-color: #555; /* Cambia el color de fondo cuando el ratón pasa por encima */
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}